{% extends 'base.html' %} {% block meta %}
<title>Login</title>
{% endblock meta %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col col-lg-6">
      <h1>Login</h1>
      <form method="POST" action="" class="mb-3">
        {% csrf_token %}
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input
            type="text"
            name="username"
            placeholder="Username"
            class="form-control"
          />
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            name="password"
            placeholder="Password"
            class="form-control"
          />
        </div>
        <input class="btn btn-primary" type="submit" value="Login" />
      </form>

      {% if messages %}
      <ul class="mb-3">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      <p>
         Belum mempunyai akun?
        <a href="{% url 'todolist:register' %}">Buat Akun</a>
      </p>
    </div>
  </div>

  {% endblock content %}
</div>
