{% extends 'todolist/base.html' %} 
{% load static %}
{% block meta %}
<title>Login</title>
<link rel="stylesheet" href="{% static 'todolist/css/login.css' %}" />
{% endblock meta %}
{% block content %}

<div class="page">
<main class="form-signin w-100 m-auto text-center">
  <form method="POST">
    {% csrf_token %}
    <h1 class="h3 mb-3 fw-normal">Login</h1>
    <div class="form-floating">
          <input
            type="text"
            name="username"
            placeholder="Username"
            class="form-control"
          />
      <label for="floatingInput">Username</label>
    </div>
    <div class="form-floating">
          <input
            type="password"
            name="password"
            placeholder="Password"
            class="form-control"
          />
      <label for="floatingPassword">Password</label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
    <p class="mt-5 mb-3 text-muted">Don't have an account? 
      <a href="{% url 'todolist:register' %}">Register here</a>
    </p>
  </form>
</main>
</div>

{% endblock content %}