{% extends 'todolist/base.html' %}
{% block meta %}
<title>Registrasi Akun</title>
{% endblock meta %}

{% block content %}  

<div class="container py-5">
    
    <h1>Formulir Registrasi</h1>  

     <form method="POST" >
        
            {% csrf_token %}  
            <div class="col-12">
                <label for="username" class="form-label">Username</label>
                <input name="username" type="text" class="form-control is-{{ form.username.errors|yesno:"invalid,valid" }}" id="username" placeholder="Username" required>
                {% if form.username.errors%}
                <div class="invalid-feedback">
                    {{form.username.errors}}
                </div>
                {% else%}
                <div class="form-text">
                    {{form.username.help_text}}
                </div>
                {% endif %}
            </div>

            <div class="col-12">
              <label for="password1" class="form-label">Password</label>
              <input name="password1" type="password" class="form-control is-{{ form.password1.errors|yesno:"invalid,valid" }}" id="email" placeholder="Password" required>
              <div class="invalid-feedback">
                {{form.password1.errors}}
              </div>
              <div class="form-text">
                {{form.password1.help_text}}
              </div>

            </div>

            <div class="col-12">
              <label for="password2" class="form-label ">Password Confirmation</label>
              <input name="password2" type="password" class="form-control is-{{ form.password2.errors|yesno:"invalid,valid" }}" id="address" placeholder="Re-enter password" required>
              <div class="invalid-feedback">
                {{form.password2.errors}}
              </div>
              <div class="form-text">
                {{form.password2.help_text}}
              </div>
            </div>


          <hr class="my-4">

          <button class="w-100 btn btn-primary btn-lg" type="submit">Register</button>
        </form>


    {% if messages %}  
        <ul>   
            {% for message in messages %}  
                <li>{{ message }}</li>  
                {% endfor %}  
        </ul>   
    {% endif %}

</div>  

{% endblock content %}