{% extends 'todolist/base.html' %}
{% load static %}

{% block meta %}
<title>Task List</title>
<link rel="stylesheet" href="{% static 'todolist/css/todolist.css' %}" />
{% endblock meta %} 

{% block content %}
<div class="container py-5">
<h1 class="mb-3">Task List</h1>
<ul class="nav nav-pills">
  <li class="nav-item">
    <button onclick="openAddTaskModal()" data-bs-toggle="modal" data-bs-target="#addTaskModal">Add Task</button>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'todolist:create task' %}">Create Task</a>
  </li>
</ul>
{% if messages %}
<div class="d-flex flex-column gap-2">
  {% for message in messages %}
  <div class="alert alert-{{message.tags}}" role="alert">{{message}}</div>
  {% endfor %}
</div>
{% endif %}

<div class="row row-cols-1 row-cols-md-3 g-4">
{% for task in task_list %}
  <div class="col">
    <div class="card task-card">
      <div class="card-body">
        <h5 class="card-title">{{ task.title }}</h5>
        <p class="card-text-small">{{ task.date }} | {{ task.is_finished|yesno:"Completed,Not Completed"}}</p>
        <p class="card-text">{{ task.description }}</p>
        <div class="d-flex gap-1">
          <form method="post" action="{% url 'todolist:toggle finish' %}">
            {% csrf_token %}
            <input type="number" name="pk" value="{{ task.pk }}" hidden />
            <input type="submit" value="{{ task.is_finished|yesno:"Undone,Done"}}" class="btn btn-secondary"
            />
          </form>
          <input type="submit" value="Delete"  class="btn btn-danger" onclick="deleteTask({{ task.pk }})" />
        </div>
      </div>
    </div>
  </div>
{% endfor %}
</div>
</div>

<!--Add Task Modal -->
<div class="modal fade" id="addTaskModal" tabindex="-1" aria-labelledby="addTaskModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addTaskModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="addTaskForm" method="POST">
        
          {% csrf_token %}  
            <div class="col-12">
                <label for="title" class="form-label">Title</label>
                <input name="title" type="text" class="form-control is-{{ form.title.errors|yesno:"invalid,valid," }}" id="title" placeholder="Title" required>
                <div class="invalid-feedback">
                    {{form.title.errors}}
                </div>
                <div class="form-text">
                    {{form.title.help_text}}
                </div>
            </div>

            <div class="col-12">
              <label for="description" class="form-label">Description</label>
              <textarea name="description" class="form-control is-{{ form.description.errors|yesno:"invalid,valid" }}" id="desc" placeholder="Enter description" required></textarea>
              <div class="invalid-feedback">
                {{form.description.errors}}
              </div>
              <div class="form-text">
                {{form.description.help_text}}
              </div>

            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="submitAddTaskForm()">Save changes</button>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block script %}
<script>
  $(document).ready(() => {
    $("#addTaskForm").submit(false);
    console.log("Disabled")
  })

  function openAddTaskModal() {
    console.log("Open Add Task Model");
  }

  function submitAddTaskForm() {
    const actionUrl="/todolist/add"
    console.log("SUbmit");
    const form = $("#addTaskForm");
    $.ajax({
        type: "POST",
        url: actionUrl,
        data: form.serialize(),
    }).done(function (data) {
        form.trigger("reset");
        renderTasklist();
    });
    $("#addTaskModal").modal("hide");
  }
  function deleteTask(id) {
    console.log("DELETE")
    $.ajax({
      type: "POST",
      url: "/todolist/delete/" + id,
      data: {csrfmiddlewaretoken: '{{ csrf_token }}'}
    }).done((data) => {
      renderTasklist();
    })
  }
  function renderTasklist() {
    console.log("RENDER")
  }
</script>
{% endblock script %}