{% extends 'base.html' %}

 {% block content %}

  <h1>My Watchlist</h1>

  <p>
    {% if watched_count == mywatchlist|length%}
      Selamat, kamu sudah banyak menonton!
    {% else %}
      Wah, kamu masih sedikit menonton!
    {% endif %}
  </p>

  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Rating</th>
        <th>Release Date</th>
        <th>Review</th>
        <th>Watched</th>
      </tr>
    </thead>
   <tbody>
    {% for item in mywatchlist %}
        <tr>
            <td>{{item.title}}</td>
            <td>{{item.rating}}</td>
            <td>{{item.release_date}}</td>
            <td>{{item.review}}</td>
            <td>{{item.watched}}</td>
        </tr>
    {% endfor %}
   </tbody> 
  </table>

 {% endblock content %}
