{% extends 'base.html' %}

 {% block content %}

  <h1>Tugas 2 Assignment PBP</h1>

  <h5>Name:</h5>
  <p>{{student_name}}</p>

  <h5>Student ID: </h5>
  <p>{{student_id}}</p>

  <table>
    <thead>
      <tr>
        <th>Item Name</th>
        <th>Item Price</th>
        <th>Item Stock</th>
        <th>Rating</th>
        <th>Description</th>
        <th>Item URL</th>
      </tr>
    </thead>
   <tbody>
    {% for item in catalog_items %}
        <tr>
            <td>{{item.item_name}}</td>
            <td>{{item.item_price}}</td>
            <td>{{item.item_stock}}</td>
            <td>{{item.rating}}</td>
            <td>{{item.description}}</td>
            <td>{{item.item_url}}</td>
        </tr>
    {% endfor %}
   </tbody> 
  </table>

 {% endblock content %}
